# PostgreSQL Configuration
# Install PostgreSQL and create database 'stackenzo_db'
# Default user: postgres, create password

DB_HOST=localhost
DB_PORT=5432
DB_NAME=stackenzo_db
DB_USER=postgres
DB_PASSWORD=Frnds@2203

# Keep existing for email etc.
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=kondurusujith2203@gmail.com
EMAIL_PASS=yiug emqb vfjz xezn
FRONTEND_URL=http://localhost:5173,https://stackenzo-home-page-bcor.vercel.app, https://www.stackenzo.com, https://stackenzo.com
